@charset "utf-8";

// 2ⁿᵈ Layer Color Palette
$blue-dark: #286293;
$blue-light: 2c77b4
$gray: #E72D43;

$primary: $blue-dark;
$title-color: $primary;
$subtitle-color: $blue-light;

// Navbar Variables
$navbar-item-color: $primary;

@import "../../node_modules/bulma/bulma.sass";
@import "./bulma-megamenu.scss";